<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjq.train.business.trainseat.mapper.TrainSeatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gjq.train.business.trainseat.entity.TrainSeat">
        <id column="id" property="id" />
        <result column="train_code" property="trainCode" />
        <result column="carriage_index" property="carriageIndex" />
        <result column="row" property="row" />
        <result column="col" property="col" />
        <result column="seat_type" property="seatType" />
        <result column="carriage_seat_index" property="carriageSeatIndex" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, train_code, carriage_index, `row`, col, seat_type, carriage_seat_index, create_time, update_time
    </sql>

</mapper>
